.espacios{
    padding-top: 55px;
}
.espacio{
    padding-top: 100px;
}


html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 200px;
  }
  footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100;
    color: white;
  }


  .card-hotel{
      flex: 1 200px;
      padding: 20px 5px 2px 5px;
      margin-top: 10px;
      margin-left: 5px;
  }
